.App {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #09a6a3;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #007d7b;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1, h2 {
  color: #09a6a3;
}